# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias
node_modules/

# Archivos CSV originales (ya que tenemos la versión UTF-8)
csv/centres-educatius.csv

# Archivos de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos temporales
*.tmp
*.temp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
